<%- include('../partials/header') %>

<table id="list">
    <thead>
      <tr>
        <th>Title</th>
        <th>Pages</th>
        <th>Author</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% books.forEach(function(b) { %>
       <% console.log(b.author) %>
        <tr>
            <form action="/books/<%= b._id %>?_method=DELETE"
                class="delete-form" method="POST">
                <button type="submit">X</button>
              </form>
          <td><%= b.title %></td>
          <td><%= b.pages %></td>
          <div>
          <% b.author.forEach(function(a) { %>
            <td><%=a.name %></td>
         <% }); %>
          </div>
          <td><a href="/books/<%= b._id %>">DETAILS</a></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    

<%- include('../partials/footer') %>