<%- include('../partials/header') %>

<section id="show-page">
    <div>Book Title: </div>
    <div><%= book.title %></div>
    <div>Number of Pages: </div>
    <div><%= book.pages %></div>

    <div>Author:</div>
  <ul>
    <%- book.author.map(a => 
      `<li>${a.name} <small>${a.born.toLocaleDateString()}</small></li>`
    ).join('') %>
  </ul>
  
</section>

<form id="add-per-to-author" action="/books/<%= book._id %>/authors" method="POST">
  <select name="authorId">
   
    <%- authors.map(a => 
      `<option value="${a._id}">${a.name}</option>`
    ).join('') %>
  </select>
  <button type="submit">Add Author</button>
</form>

<%- include('../partials/footer') %>